---
last_modified_at: "2020-01-04"
---

<div class="container">
    <div class="row page-header">
        <h1>WEB Developerin Yol Xəritəsi <img src="{{ "./assets/img/spark.svg" | prpend:sid.baseurl }}"></h1>
        <p>Sizə öz yolunuzu seçməkdə, öyrənməkdə və inkişaf etməkdə kömək edəcək Yol xəritələri, məqalələr və mənbələr</p>
    </div>
    <div class="row roadmaps-list">
        {% for post in site.posts %}
        {% if post.categories contains "roadmaps" and post.featured == true %}
        {% include roadmap.html roadmap=post %}
        {% endif %}
        {% endfor %}
    </div>
</div>

<div class="feats-list">
    <div class="container">
        <div class="feat-row">
            <img src="{{ "./assets/img/anxiety.gif" }}" class="" alt="">
            <div class="feat-content">
                <h2>İlk vaxtlar çətin ola bilər</h2>
                <p>Texnologiya sürətlə dəyişir. Bugünkü iş görmək tərzimiz bir neçə il əvvəl etdiyimizdən tamamilə fərqlidir.
                    Texnologiya sahəsində çox şeylərin baş verdiyi bir vaxtda, bu, karyerasına başlayan
                    və ya artıq bu sahədə çalışan hər kəsi qorxuya sala bilər.</p>
            </div>
        </div>
        <div class="feat-row right-feat">
            <img src="{{ "./assets/img/shy.gif" }}" class="top-img d-none" alt="">
            <div class="feat-content feat-right">
                <h2>Bilmədiklərini bil.</h2>
                <p>Bilmədiyini bilmək artıq döyüşün yarısıdır. Bu, səylərinizi düzgün istiqamətə yönəltməyə kömək edəcəkdir.
                    Developerin yol xəritələri, çatışmayan əlaqələri tapmağa, biliklərinizdəki boşluqları
                    müəyyənləşdirməyə və yaxşılaşdırmağa başlamaqda kömək edəcək.</p>
            </div>
            <img src="{{ "./assets/img/shy.gif" }}" class="right-img" alt="">
        </div>
        <div class="feat-row">
            <img src="{{ "./assets/img/blanket.gif" }}" alt="">
            <div class="feat-content">
                <h2>Narahatlığa yox de və başla.</h2>
                <p>Heç kim hazırda olduğu yerə bir gündə çatmayıb. Bunun üçün vaxt və təcrübə lazımdır.
                    Beyninizdə ideallaşdırdıqlarınız sizi yoldan çıxartmasın, onlar da təcrübə ilə bu nöqtəyə çatıblar.
                    Bir yerdən başlamaq lazımdır. Bir yol seçin, bilmək lazım olanı müəyyənləşdirin və özünüzü inkişaf etdirməyə başlayın.</p>
            </div>
        </div>
    </div>
</div>


